<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Thunderdome CRM</title>
  </head>

  <body>

    <header>
      <a href="/">Bitmaker CRM</a>
      <nav>
        <a href="/index">Home</a>
        |
        <a href="/contacts">Add a Contact</a>
        |
        <a href="/about_me">About</a>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy;2017 | Doug S</p>
    </footer>

  </body>
</html>
